*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #000;
  width: 100vw;
  height: 100vh;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
